openapi: 3.0.3
info:
  title: GoRest - Create Post (Bearer Token)
  description: Create a post. Requires a Bearer token from https://gorest.co.in.
  version: 1.0.0
servers:
  - url: https://gorest.co.in/public/v2
security:
  - bearerAuth: []
paths:
  /posts:
    post:
      summary: Create a new post
      operationId: createPost
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [user_id, title, body]
              properties:
                user_id: { type: integer, example: 1 }
                title:   { type: string,  example: "My First Post" }
                body:    { type: string,  example: "This is the post body." }
      responses:
        "201":
          description: Post created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:      { type: integer, example: 101 }
                  user_id: { type: integer, example: 1 }
                  title:   { type: string,  example: "My First Post" }
                  body:    { type: string,  example: "This is the post body." }
        "401":
          description: Unauthorized — Bearer token missing or invalid
        "422":
          description: Validation error
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: "Get your token at https://gorest.co.in — use as: Authorization: Bearer <token>"
