openapi: 3.0.3
info:
  title: GoRest - Update User (Basic Auth)
  version: 1.0.0
servers:
  - url: https://gorest.co.in/public/v2
security:
  - basicAuth: []
paths:
  /users/{id}:
    patch:
      summary: Partially update a user
      operationId: updateUser
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer, example: 1 }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:   { type: string,  example: "Updated Name" }
                email:  { type: string,  example: "updated@example.com" }
                status: { type: string,  enum: [active, inactive] }
      responses:
        "200":
          description: User updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:     { type: integer, example: 1 }
                  name:   { type: string,  example: "Updated Name" }
                  email:  { type: string,  example: "updated@example.com" }
                  gender: { type: string,  example: "male" }
                  status: { type: string,  example: "active" }
        "401":
          description: Unauthorized
        "404":
          description: User not found
        "422":
          description: Validation error
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
